@namespace BlazorTable

@if (AlwaysShow || (Table.TotalPages > 1)) {
	<div class="d-flex justify-content-end">
		<ul class="pagination">
			@if (ShowPageSizes) {
				<li class="page-item" title="Set Page Size">
					<label class="hint-text">Per page:</label>
					<select class="form-control-sm m-1" value="@Table.PageSize" @onfocus="SetFirstPageButtonFocus" @onchange="SetPageSize">
						@foreach (int option in PageSizes) {
							<option value="@option">@option</option>
						}
					</select>
				</li>
			}
			@if (ShowPageNumber) {
				<li class="page-item disabled" title="Page @(Table.PageNumber + 1) of @(Table.TotalPages)">
					@if (ShowTotalCount) {
						<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
							@Table.PageFirstItemNumber to @Table.PageLastItemNumber of @Table.TotalCount
						</a>
					} else {
						<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
							@Table.PageFirstItemNumber to @Table.PageLastItemNumber
						</a>
					}
				</li>
			}

			@if (ShowPageNumber || ShowTotalCount) {
				<li aria-hidden="true" class="page-item disabled">
					<a class="page-link px-0" href="#" tabindex="-1" aria-disabled="true" style="width:5px;">&nbsp;</a>
				</li>
			}

			<li class="page-item @(Table.PageNumber == 0 ? "disabled": "")" @onclick="@(() => Table.FirstPage())" title="First">
				<a class="page-link" href="javascript:;" aria-disabled="@(Table.PageNumber == 0 ? "true": null)" @ref="FirstPageElementRef">First</a>
			</li>
			<li class="page-item @(Table.PageNumber == 0 ? "disabled": "")" @onclick="@(() => Table.PreviousPage())" title="Previous">
				<a class="page-link" href="javascript:;" aria-disabled="@(Table.PageNumber == 0 ? "true": null)">Previous</a>
			</li>
			<li class="page-item @(Table.PageNumber + 1 < Table.TotalPages ? "" : "disabled")" @onclick="@(() => Table.NextPage())" title="Next">
				<a class="page-link" href="javascript:;" aria-disabled="@(Table.PageNumber + 1 < Table.TotalPages ? null: "true")">Next</a>
			</li>
			<li class="page-item @(Table.PageNumber + 1 != Table.TotalPages ? "" : "disabled")" @onclick="@(() => Table.LastPage())" title="Last">
				<a class="page-link" href="javascript:;" aria-disabled="@(Table.PageNumber + 1 != Table.TotalPages ? null : "true")">Last</a>
			</li>
		</ul>
	</div>
}
