@namespace BlazorTable
@typeparam TableItem
@inherits FilterBase<TableItem, CustomSelectCondition>

@if (Column.FilterControl == this) {
	<select class="form-control form-control-sm mb-1" value="@Condition" @onchange="OnFilterChange">
		@foreach (var option in Options) {
			<option value="@option">@option.GetDescription()</option>
		}
	</select>

	@if (Condition != CustomSelectCondition.IsNull && Condition != CustomSelectCondition.IsNotNull) {
		<select class="form-control form-control-sm" @onchange="OnItemChanged">
			@foreach (var option in Items) {
				<option value="@option.Value" selected="@(option.Value.Equals(FilterValue))">@option.Key</option>
			}
		</select>
	}
}

<CascadingValue Value="(ICustomSelect)this" Name="CustomSelect">
	@ChildContent
</CascadingValue>