@namespace BlazorTable
@typeparam TableItem
@inherits FilterBase<TableItem, EnumCondition>

@if (Column.FilterControl == this) {
	<select class="form-control form-control-sm mb-1" value="@Condition" @onchange="OnFilterChange">
		@foreach (var option in Options) {
			<option value="@option">@option.GetDescription()</option>
		}
	</select>

	@if (Condition != EnumCondition.IsNull && Condition != EnumCondition.IsNotNull) {
		<select class="form-control form-control-sm" value="@FilterValue" @onchange="OnItemChanged">
			@foreach (var option in Items) {
				<option value="@option">@option.GetDescription()</option>
			}
		</select>
	}
}